<style>
  .hello-msg{
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 10px;
  }
  a{
    text-decoration: none;
  }
  
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">CRM Project</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user:dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product:product_list' %}">Product</a>
          </li>
          
        </ul>

        <!-- <form class="d-flex" method="post" action="{% url 'product:search' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <span class="hello-msg">Hello , {{request.user}}</span>
        <span><a class="hello-msg" href="{% url 'user:logout' %}">Log Out</a></span>
      </div>
    </div>
</nav>
